/* Matrix Theme */
.matrix-theme {
  background-color: #000000;
  color: #00ff00;
  text-shadow: 0 0 3px #ffffff;
}

.matrix-theme .showplayerstable {
  border-color: #00ff00;
  background-color: #002200;
}

.matrix-theme .showplayerstable td,
.matrix-theme .showplayerstable th {
  border-color: #00ff00;
}

.matrix-theme .showplayerstable tbody td {
  color: #00ff00;
  text-shadow: 0 0 3px #ffffff;
}

.matrix-theme .showplayerstable thead {
  background-color: #003300;
}

.matrix-theme .showplayerstable thead th {
  color: #00ff00;
  text-shadow: 0 0 3px #ffffff;
}

.matrix-theme .showplayerstable tr:nth-child(even) {
  background: #003300;
}
