/* Cyberpunk Theme */
.cyberpunk-theme {
  background-color: #000000;
  color: #ff00ff;
  text-shadow: 0 0 5px #8553827b;
}

.cyberpunk-theme .showplayerstable {
  border-color: #ff00ff;
  background-color: #220022;
}

.cyberpunk-theme .showplayerstable td,
.cyberpunk-theme .showplayerstable th {
  border-color: #ff00ff;
}

.cyberpunk-theme .showplayerstable tbody td {
  color: #ff00ff;
  text-shadow: 0 0 5px #8553827b;
}

.cyberpunk-theme .showplayerstable thead {
  background-color: #330033;
}

.cyberpunk-theme .showplayerstable thead th {
  color: #ff00ff;
  text-shadow: 0 0 5px #8553827b;
}

.cyberpunk-theme .showplayerstable tr:nth-child(even) {
  background: #330033;
}
