/* Neon Theme */
.neon-theme {
  background-color: #000000;
  color: #00ffff;
  text-shadow: 0 0 5px #ffffff;
}

.neon-theme .showplayerstable {
  border-color: #00ffff;
  background-color: #002222;
}

.neon-theme .showplayerstable td,
.neon-theme .showplayerstable th {
  border-color: #00ffff;
}

.neon-theme .showplayerstable tbody td {
  color: #00ffff;
  text-shadow: 0 0 5px #ffffff;
}

.neon-theme .showplayerstable thead {
  background-color: #003333;
}

.neon-theme .showplayerstable thead th {
  color: #00ffff;
  text-shadow: 0 0 5px #ffffff;
}

.neon-theme .showplayerstable tr:nth-child(even) {
  background: #003333;
}
