@font-face {
  font-family: cyberpunk;
  src: url(fonts/BoldPixels1.4.ttf);
}
html {
  font-family: cyberpunk;
  font-size: 40px;
  background-color: #000000;
  text-shadow: 0px 0px 10px #727272;
  color: #40ff00;
}
.center{
  text-align: center;
}
.title{
  display: block;
  font-size: 40px;
  font-style: bold;
  text-shadow: 0px 0px 10px #000000;
  color: #40ff00;
  padding: 5px;
  background-color: #073d04;
}
.server_body {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1%;
}
.padding {
  width: 98%;
  padding: 1%;
}
table.showplayerstable {
  border: 1px solid #073d04;
  background-color: #336f30;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.showplayerstable td, table.showplayerstable th {
  border: 5px solid #000000;
  padding: 3px 2px;
}
table.showplayerstable tbody td {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0px 0px 10px #000000;
  color: #40ff00;
}
table.showplayerstable tr:nth-child(even) {
  background: #219c2d;
}
table.showplayerstable thead {
  background: #226428;
  border-bottom: 0px solid #444444;
}
table.showplayerstable thead th {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0px 0px 10px #000000;
  color: #FFFFFF;
  text-align: center;
}

.font-selector {
  margin-bottom: 20px;
  /* Removed text-align: center; */
}

.font-selector label {
  font-weight: bold;
  margin-right: 10px;
}

.font-selector select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}
